<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="-rating">Popularity</option>
      </select>

    </div>
    <div ng-controller="StoreListCtrl">
      <!--Body content-->

      <ul class="stores">
        <li ng-repeat="store in stores | filter:query | orderBy:orderProp">
          <h3>{{store.name}}</h3>
          <a href="#/stores/detail/{{store.id}}"><img ng-src="{{store.image_url}}"></a>
          <p>Rate: {{store.rating}}</p>
          <p>{{store.snippet_text}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
